@import "tailwindcss";

@theme {
  --color-primary-background: #0f0f0f;
  --color-secondary-background: #fafafa;

  --color-on-dark: #ffffff;
  --color-on-light: #0B0808;
  --color-subtle-on-light: #0F0F0F;
}
